header {
  background-color: #FA3209;

  .btn {
    background-color: #FA3209;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid black
  }

  .btn:hover {
    background-color: white;
    color: black;
  }

  .btn i {
    margin-right: 10px;
  }

  .tomato {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
}

.home-card {
  overflow: hidden;
  transition: transform 0.3s ease;
}

.img-card {
  aspect-ratio: 9/16;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.home-card:hover {
  transform: scale(1.03);
}

.card-body {
  .btn {
    background-color: #FA3209;
    color: white
  }

  .btn:hover {
    background-color: #333E48;
    color: white;
    border: 1px solid white;
  }
}

.card-title {
  height: 80px;
  border-bottom: 1px solid black;
  align-items: center
}

.thumb {
  margin: 20px 0;
  align-items: center;
  border: 2px solid grey;
  border-radius: 10px;
  overflow: hidden;
}

.description .btn-delete {
  background-color: #FA3209;
  color: white;
  padding: 10px 20px;

  .bi-trash3 {
    margin-right: 5px;
  }
}

footer {
  .btn {
    background-color: #FA3209;
    color: white
  }

  .btn:hover {
    background-color: #333E48;
    color: white;
    border: 1px solid white;
  }
}




/* Loader */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #FA3209;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}